@import './menu.css';
@import './header.css';
@import './hero.css';
@import './social.css';
@import './button.css';
@import './button-icon.css';
@import './project.css';
@import './card.css';
@import './shared.css';
@import './contact.css';
@import './coment.css';
@import './style.css';

.wrapper {
    max-inline-size: 1229px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    margin: auto;
}

:root {
    --fontBase: Poppins, sans-serif;
    --fontSecondary: Oxygen, sans-serif;
    --headLine1: bold 95px/154px var(--fontBase);
    --headLine2: bold 59px/95px var(--fontBase);
    --headLine3: bold 48px/78px var(--fontBase);
    --headLine4: bold 34px/55px var(--fontBase);
    --headLine5: bold 24px/39px var(--fontBase);
    --coment: 34px/55px var(--fontSecondary);
    --coment2: 24px/39px var(--fontBase);
    --body1: 16px/26px var(--fontBase);
    --body2: 14px/23px var(--fontBase);
    --card: 16px/26px var(--fontSecondary);
    --button: bold 14px/23px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --gradient: background: #E0EAFC;
    background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);
    background: linear-gradient(to top, #c7c9db, #c2c6ce);
    --primaryColor: #0F0A0A;
    --secondaryColor: #668dc0;
    --tertiaryColor: #FFFFFE;
    --deleteMargin: 0;
}

html {
    scroll-behavior: smooth;
}