


.certificated {
    /* border: 1px red solid; */
    background-color: var(--gradient);
    padding-block-start: 80px;
    padding-block-end: 80px;
}

.swiper {
    width: inherit;
    height: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
    --swiper-pagination-color: #42a5f5; 
}

.swiper-slide {
    flex-shrink: 1 !important;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    margin: auto;
    width: 600px;
    max-inline-size: 1000px;
}

@media screen and (min-width: 768) {
    .swiper {
        width: inherit;
        height: inherit;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.
333);
--swiper-pagination-color:#42a5f5;
    }

    .swiper-slide {
        flex-shrink: 1 !important;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        margin: auto;
        width: 600px;
        max-inline-size: 600px;
    }
}